@page "/contactus"

<div class=" container-mt-5 " >
    <h1 >Contact Us!</h1>
    <form class=" row g-3 ">
        <div class=" col-md-6" >
            <label for=" FirstName" class=" form-label ">First Name</label>
            <input type="text"  class="form-control" id="FirstName" required>
        </div>
        <div class=" col-md-6">
            <label for=" LastName" class=" form-label ">Last Name</label>
            <input type="text" class=" form-control" id="LastName" required>
        </div>
        <div class=" col-md-8">
            <label for=" Email" class=" form-label ">E-mail</label>
            <input type="email" class=" form-control" id="Email" required>
        </div>
        <div class=" col-md-4">
            <label for=" PhoneNumber" class=" form-label ">Phone Number</label>
            <input type="text" class=" form-control" id="PhoneNumber" placeholder="(0124444444) ">
        </div>
        <div class=" col-md-12">
            <label for=" comments" class=" form-label ">Comments & Questions?</label>
            <textarea class=" form-control " id="Comments" rows=" 4" required ></textarea>
        </div>
        <div class=" col-md-12" >
            <button type="submit" class=" btn btn-primary ">Submit</button>
        </div>

    </form>

</div>

@code {

}
