@page "/trailers"

<h3>Trailers</h3>
<div class=" container-fluid ">
    <p class="text-decoration-underline fs-2">Now Showing</p>
    <div class=" row">
        <div class="col-sm">
            <div class="embed-responsive embed-responsive-4b3 ">
                <iframe width="400" height="300" src="https://www.youtube.com/embed/DhlaBO-SwVE" title="EXPEND4BLES (2023) Official Trailer - Jason Statham, 50 Cent, Megan Fox, Dolph Lundgren" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                
           
            </div>
        </div>
        <div class="col-sm">
            <div class="embed-responsive embed-responsive-4b3 ">
                <iframe width="400" height="300" src="https://www.youtube.com/embed/ex3C1-5Dhb8" title="The Creator | Official Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm">
            <div class="embed-responsive embed-responsive-4b3 ">
                <iframe width="400" height="300" src="https://www.youtube.com/embed/QF-oyCwaArU" title="THE NUN II | OFFICIAL TRAILER" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
            </div>
        </div>
    </div>
    <div class=" row">
        <div class="col-sm">
            <div class="embed-responsive embed-responsive-4b3 ">
                <iframe width="400" height="300" src="https://www.youtube.com/embed/pBk4NYhWNMM" title="Barbie | Main Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
            </div>
        </div>
        <div class="col-sm">
            <div class="embed-responsive embed-responsive-4b3 ">
                <iframe width="400" height="300" src="https://www.youtube.com/embed/T0C5I90Y-sA" title="Chithha (Tamil) - Official Trailer | Siddharth | S.U.Arun Kumar | Dhibu Ninan Thomas | Etaki" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
            </div>
        </div>
        <div class="col-sm">
            <div class="embed-responsive embed-responsive-4b3 ">
                <iframe width="400" height="300" src="https://www.youtube.com/embed/uYPbbksJxIg" title="Oppenheimer | New Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
            </div>
        </div>
    </div>

</div>
<br />
<div class=" container-fluid ">
    <p class="text-decoration-underline fs-2 ">Coming Soon</p>
    <div class=" row">
        <div class="col-sm">
            <div class="embed-responsive embed-responsive-4b3 ">
                <iframe width="400" height="300" src="https://www.youtube.com/embed/t3PzUo4P21c" title="SAW X (2023) Official Trailer – Tobin Bell" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
            </div>
        </div>
        <div class="col-sm">
            <div class="embed-responsive embed-responsive-4b3 ">
                <iframe width="400" height="300" src="https://www.youtube.com/embed/FV3bqvOHRQo" title="Aquaman and the Lost Kingdom | Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
            </div>
        </div>
        <div class="col-sm">
            <div class="embed-responsive embed-responsive-4b3 ">
                <iframe width="400" height="300" src="https://www.youtube.com/embed/z5SDzmjxX9g" title="Monarch: Legacy of Monsters - Official Trailer (2023) Kurt Russell, Wyatt Russell | NYCC 2023" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
            </div>
        </div>
    </div>
    <div class=" row">
        <div class="col-sm">
            <div class="embed-responsive embed-responsive-4b3 ">
                <iframe width="400" height="300" src="https://www.youtube.com/embed/BWCaxUMqKjk" title="FREELANCE Trailer (2023) John Cena, Alison Brie" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
            </div>
        </div>
        <div class="col-sm">
            <div class="embed-responsive embed-responsive-4b3 ">
                <iframe width="400" height="300" src="https://www.youtube.com/embed/sznKSs1G5pU" title="THE BEEKEEPER Trailer (2024) Jason Statham" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
            </div>
        </div>
        <div class="col-sm">
            <div class="embed-responsive embed-responsive-4b3 ">
                <iframe width="400" height="300" src="https://www.youtube.com/embed/e_we2JPZuiI" title="SPIDER-MAN: MILES MORALES - Teaser Trailer (2024) | Andrew Garfield | TeaserPRO&#39;s Concept Version" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
            </div>
        </div>
    </div>
</div>

@code {

}
